* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: Calibri, Arial, sans-serif;
  position: relative;
  left: 0;
  overflow-x: hidden;
}
.push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn {
  border: none;
  background-color: #d3d3d3;
  color: #fff;
  font-size: 16px;
  padding: 4px;
  display: block;
  width: 5%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: #d3d3d3;
}
.backBtn {
  background-color: #ffffff;
  font-size: 16px;
  text-align: right;
}
.backBtn:hover {
  color: #000;
}
.menu-right .backBtn {
  text-align: left;
}
.menu-top .backBtn,
.menu-bottom .backBtn {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0;
}
.menu {
  border-right: 1px solid #ffffff;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 280px;
  height: 100%;
}
.menu a {
  display: block;
  color: #d3d3d3;
  padding: 16px;
  border-top: 1px solid #d3d3d3;
  text-decoration: none;
  position: relative;
  z-index: 11;
}
.menu a:last-child {
  border-bottom: 1px solid #ffffff;
}
}
.menu-left {
  left: -280px;
}
.menu-left.left-open {
  left: 0;
}
.menu-right {
  right: -280px;
}
.menu-right.right-open {
  right: 0;
}
.menu-top {
  width: 100%;
  top: -100%;
}
.menu-top.top-open {
  top: 0;
}
.menu-bottom {
  width: 100%;
  top: 100%;
}
.menu-bottom.bottom-open {
  top: 0;
}
.push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.push-left {
  left: -280px;
}
.push-left.pushleft-open {
  left: 0;
}
.push-toleft {
  left: 280px;
}
.push-right {
  right: -280px;
}
.push-right .backBtn {
  text-align: left;
}
.push-right.pushright-open {
  right: 0;
}
.push-toright {
  left: -280px;
}



/* Web Font */
* {
    font-family: 'Titillium Web', sans-serif; 
}

/* Relative positioning*/
#image-map {
    position: relative;
    margin: 5px auto 20px auto;
}

/* Hide the original tooltips contents */
.pin {
    display: none;
}

/* Begin styling the tooltips and pins */
.tooltip-up, .tooltip-down {
    position: absolute;
    background: url(http://i.imgur.com/13rZbuk.png);
    width: 25px;
    height: 37px;
}

.tooltip-down {
    background-position: 0 -37px;
}

.tooltip {
    display: none;
    width: 150px;
    cursor: help;
    text-shadow: 0 0px 0 #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 999;
    margin-left: -60px;
    padding:10px;
    color: #222;
    border-radius: 5px;
    background: #ffffff;        
}

.tooltip::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid #fff1d3;
    border-left: 10px solid transparent;
    border-right : 10px solid transparent;
}

.tooltip-down .tooltip {
    bottom: 5px;
    top: auto;
}

.tooltip-down .tooltip::after {
    bottom: -10px;
    top: auto;
    border-bottom: 0;
    border-top: 10px solid #ffdb90;
}

.tooltip h2 {
    font: bold 1.3em 'Trebuchet MS', Tahoma, Arial;
    margin: 0 0 10px;
}

.tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


input[type="checkbox"] { 
  position: absolute;
  opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
  vertical-align: middle;
  width: 40px;  height: 20px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
  width: 40px;
  background-position: 0 0;
  background-color: #3b89ec;
  border: 1px solid #0e62cd;
  box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
  width: 34px;  height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
  width: 50px;  height: 25px;
}


/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 18px; height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
  width: 16px; height: 16px;
  margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(16px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}


/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 2em;
  font-family: arial, sans-serif;
}

.btngrp {
  list-style-type: none;
  margin: 2em auto;
  padding: 0;
  font-size: .85em;
  display: table;
  letterspacing: .2em;
}
@media (min-width: 768px) {
  .btngrp {
    font-size: 1em;
  }
}
.btngrp li {
  vertical-align: middle;
  background: white;
  padding: .75em 1.5em;
  line-height: 1.1;
  border: 2px solid #208EF1;
  border-top-width: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.btngrp li:first-child {
  border-radius: 8px 8px 0 0;
  border-top-width: 2px;
}
.btngrp li:last-child {
  border-radius: 0 0 8px 8px;
}
@media (min-width: 400px) {
  .btngrp li {
    display: table-cell;
    border-top-width: 2px;
    border-left-width: 0;
  }
  .btngrp li:first-child {
    border-radius: 8px 0 0 8px;
    border-left-width: 2px;
  }
  .btngrp li:last-child {
    border-radius: 0 8px 8px 0;
  }
}

}
.btngrp a {
  display: block;
  text-align: center;
  padding: 0 .5em;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 768px) {
  .btngrp a {
    padding: .5em .5em;
  }
}
.btngrp a:link, .btngrp a:visited {
  color: #208EF1;
}
.btngrp .cancel {
  background: transparent;
}
.btngrp .cancel:hover {
  background: transparent;
}
.btngrp .cancel a:link, .btngrp .cancel a:visited {
  color: #208EF1;
}


